*{
    padding: 0 auto;
    margin: 0 auto;
}

body {
    width: 100%;
    height: 100vh;
    background-position: left;
}
.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.contenedor__subtitulo, .contenedor__parrafo {
    display: none;
}
form{
    width: 100%;
    height: 100vh;
}
#contenedor__boton{
    position: absolute;
    top: 0;
    right: 0.7rem; 
    margin-right: 1rem;
}
